<?xml version="1.0"?>
<robot name="diff_drive" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find ouagv_robot_description)/xacro/wheel.urdf.xacro" />
    <xacro:include filename="$(find ouagv_robot_description)/xacro/ros2_control.xacro" />
    <xacro:include filename="$(find ouagv_robot_description)/xacro/body.urdf.xacro" />
    <xacro:include filename="$(find ouagv_robot_description)/xacro/caster.urdf.xacro" />
    <xacro:include filename="$(find ouagv_robot_description)/xacro/lidar.xacro" />
    <xacro:include filename="$(find ouagv_robot_description)/xacro/imu.xacro" />


    <xacro:body />
    <xacro:wheel prefix="left" parent="base_link" xyz="0.125 0.21 0.125" rpy="-1.5707 0 0" />
    <xacro:wheel prefix="right" parent="base_link" xyz="0.125 -0.21 0.125" rpy="-1.5707 0 0" />
    <xacro:caster parent="base_link" xyz="-0.25 0 0.05" rpy="1.57 0 0" />
    <xacro:lidar parent="base_link" xyz="0.3 0 0.2" rpy="0 0 0" />
    <xacro:imu parent="base_link" xyz="0 0 0.8" rpy="0 0 0" />
    <xacro:diff_drive_control left_joint="left_wheel_joint" right_joint="right_wheel_joint" />


    <gazebo>
        <!-- Joint state publisher -->
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>$(find ouagv_robot_description)/config/diff_drive_controller.yaml</parameters>
        </plugin>
    </gazebo>

</robot>